body {
  font-family: 'lucida grande', tahoma, verdana, arial, sans-serif;
}
.header h1 {
  font-family: "Helvetica Neue";
  font-weight: 200 !important;
  text-rendering: optimizelegibility;
  font-size: 60px;
  text-align: center;
  color: rgba(58, 88, 151, 0.8);
  text-shadow: 1px 4px 6px #def, 0 0 0 #000, 1px 4px 6px #def;
  margin-bottom: -23px;
  margin-top: 35px;
}
.header h2 {
  font-weight: 100;
  color: #adb3bc;
  text-align: center;
}
.container {
  width: 80%;
  margin: auto;
  padding-left: 15px;
}
.research,
.participate {
  font-size: 12px;
}
.research {
  border: 1px solid #d3d6db;
  border-radius: 3px;
  background-color: #fff;
  box-shadow: 0 0 4px #e6e6e6;
  margin-bottom: 15px;
}
.research header {
  background-color: #f6f7f8;
  padding: 9px 13px 9px;
  line-height: 8px;
  border-bottom: 1px solid #e9eaed;
}
.research footer {
  border-top: 1px solid #e9eaed;
  background-color: #f6f7f8;
  padding: 10px 20px;
  overflow: hidden;
}
.research .expandable {
  margin: 20px;
}
.research h2 {
  color: #3b5998;
  font-size: 13px;
  margin-left: 46px;
}
.research a {
  text-decoration: none;
  color: #3b5998;
}
.research a:hover {
  text-decoration: underline;
}
.research a.center {
  display: block;
  text-align: center;
}
.research img {
  width: 30px;
  height: 30px;
  border-radius: 3px;
  float: left;
}
.participate,
.stop {
  background-color: #758ab7;
  border-color: #475d91 #3c5389 #3a5186;
  border-radius: 3px;
  display: block;
  color: #fff !important;
  font-size: 11px;
  font-weight: 600;
  -webkit-font-smoothing: antialiased;
  float: right;
  padding: 7px 20px;
  cursor: pointer;
}
.red {
  background-color: #f32020 !important;
}
.hidden {
  display: none;
}
.datas .inner {
  background: #484a63;
  padding: 30px 10px;
  color: #c9c3e6;
}
.datas .slot {
  display: inline-block;
  text-align: center;
  width: 18%;
}
.datas .progresses,
.datas .results {
  border: 10px solid;
  border-radius: 999px;
  font-size: 20px;
  text-align: center;
  width: 80px;
  height: 80px;
  display: block;
  line-height: 75px;
  margin-left: 27px;
}
.datas .persecond {
  font-size: 30px;
  display: block;
  height: 70px;
}
.datas .progress,
.datas .result {
  font-size: 25px;
  display: block;
  height: 65px;
}
.datas .progress {
  font-size: 25px;
  display: block;
  height: 65px;
}
.datas .progresses {
  border-color: #cc0000;
}
.datas .results {
  border-color: #00cc00;
}
