body {
  font-family: 'lucida grande', tahoma, verdana, arial, sans-serif;
}
.container {
  width: 80%;
  margin: auto;
  padding-left: 15px;
}
.research,
.participate {
  font-size: 12px;
}
.research {
  border: 1px solid #d3d6db;
  border-radius: 3px;
  background-color: #fff;
  box-shadow: 0 0 4px #e6e6e6;
  margin-bottom: 15px;
}
.research header {
  background-color: #f6f7f8;
  padding: 9px 13px 9px;
  line-height: 8px;
  border-bottom: 1px solid #e9eaed;
}
.research footer {
  border-top: 1px solid #e9eaed;
  background-color: #f6f7f8;
  padding: 10px 20px;
  overflow: hidden;
}
.research .expandable {
  margin: 20px;
}
.research h2 {
  color: #3b5998;
  font-size: 13px;
  margin-left: 46px;
}
.research a {
  text-decoration: none;
  color: #3b5998;
}
.research a:hover {
  text-decoration: underline;
}
.research a.center {
  display: block;
  text-align: center;
}
.research img {
  width: 30px;
  height: 30px;
  border-radius: 3px;
  float: left;
}
.participate {
  background-color: #758ab7;
  border-color: #475d91 #3c5389 #3a5186;
  border-radius: 3px;
  display: block;
  color: #fff !important;
  font-size: 11px;
  font-weight: 600;
  -webkit-font-smoothing: antialiased;
  float: right;
  padding: 7px 20px;
}
